.table-shadow
  shadow()

.header,
.bodyRow
  flex-direction row
  background-color #ffffff

.header
  border-bottom 1px solid #eeeeee

.headerCell
  font-weight 400

.columnTextIcon
  @media only screen and (min-width: 480px)
    flex-direction row

.fieldActive
  font-weight bold

.icon
  padding 4px

.headerCell,
.bodyCell

  padding-left 1u
  padding-right 1u
  padding-top 1u
  padding-bottom 1u
  flex 1

.bodyCell
  justify-content center
